*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

span, a {
  font-style: normal;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

.grid__section {
  padding-bottom: 60px !important;
}

.grid__header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
}

.grid__header__wrapper .service-link {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.grid__header__wrapper .grid__header {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.375rem;
  line-height: 2.875rem;
  font-weight: 700;
}

.service__list {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  width: 100%;
}

.service__list .service__item {
  max-width: calc((100% - 120px) / 3);
}

.service__list .service__item a {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.6875rem;
  color: #24A3FF;
  white-space: pre-line;
}

.service__list .service__item .icon_wrapper {
  width: 92px;
  height: 92px;
  background: #FFF;
  border-radius: 24px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__list .service__item h3 {
  margin-bottom: 15px;
}

.service__list .service__item .service__desc {
  line-height: 162%;
}

.white__section-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 60px 0;
}

.swiper {
  max-width: 1600px;
  height: 344px;
  display: flex;
  flex-direction: column;
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5FA;
  height: 298px;
  border-radius: 12px;
  overflow: hidden;
}

.swiper .swiper-slide .img__wrapper {
  width: 400px;
  height: 100%;
  background-image: url("../media/img/alexander.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.swiper .swiper-slide .slider__text__wrapper {
  background: #F5F5FA;
  color: black;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}

.swiper .swiper-slide .slider__text__wrapper .text-links h3 {
  margin-bottom: 5px;
}

.swiper .swiper-slide .slider__text__wrapper .text-links h3 a {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.swiper .swiper-slide .slider__text__wrapper .text-links h3 a .arrow-right {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #24A3FF;
  -webkit-mask: url(../media/img/arrow-right.svg) no-repeat center;
  mask: url(../media/img/arrow-right.svg) no-repeat center;
}

.swiper .swiper-slide .slider__text__wrapper .text-links span {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.375rem;
  line-height: 2.875rem;
  font-weight: 700;
}

.swiper .swiper-slide .slider__text__wrapper .text-gray {
  color: #B3B3BA;
}

.swiper .swiper-slide .slider__text__wrapper .text-gray h4 {
  margin-bottom: 6px;
}

.swiper .swiper-slide .slider__text__wrapper .text-gray span {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.swiper .swiper-pagination {
  bottom: 0 !important;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  height: 16px;
  width: 16px;
}

.clients__wrapper {
  max-width: 1720px;
}

.clients__wrapper .clients__header {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
  margin-bottom: 30px;
}

.clients__wrapper .clients__list {
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
  overflow: hidden;
}

.clients__wrapper .clients__list .bg:nth-child(1) {
  background-color: #1C4280;
}

.clients__wrapper .clients__list .bg:nth-child(2) {
  background-color: #143646;
}

.clients__wrapper .clients__list .bg:nth-child(3) {
  background-color: #F48B30;
}

.clients__wrapper .clients__list .bg:nth-child(4) {
  background-color: #9E4DC3;
}

.clients__wrapper .clients__list .bg:nth-child(5) {
  background-color: #FD9339;
}

.clients__wrapper .clients__list .bg:nth-child(6) {
  background-color: #E2E2E4;
}

.clients__wrapper .clients__list .bg:nth-child(7) {
  background-color: #C71C36;
}

.clients__wrapper .clients__list .bg:nth-child(8) {
  background-color: #DCF3F9;
}

.clients__wrapper .clients__list .bg:nth-child(9) {
  background-color: #EAEAEA;
}

.clients__wrapper .clients__list .bg:nth-child(10) {
  background-color: #282240;
}

.clients__wrapper .clients__list .bg:nth-child(11) {
  background-color: #1D4568;
}

.clients__wrapper .clients__list .bg:nth-child(12) {
  background-color: #000;
}

.clients__wrapper .clients__list .bg {
  flex-basis: 25%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommendations {
  background-color: #F5F5FA;
}

.recommendations .recommendations__wrapper {
  padding-top: 30px;
}

.recommendations .recommendations__wrapper h3 {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  margin-bottom: 10px;
}

.recommendations .recommendations__wrapper .recommendations__header {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.375rem;
  line-height: 2.875rem;
  font-weight: 700;
  margin-bottom: 30px;
  display: block;
}

.recommendations .recommendations__wrapper .publications__list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline;
  gap: 30px;
}

.recommendations .recommendations__wrapper .publications__list .publication__item {
  background: #FFFFFF;
  border-radius: 8px;
  height: 430px;
}

.recommendations .recommendations__wrapper .publications__list .publication__item .publication__image {
  height: 200px;
}

.recommendations .recommendations__wrapper .publications__list .publication__item .publication__text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recommendations .recommendations__wrapper .publications__list .publication__item .publication__text h4 > a {
  color: #24A3FF;
}

.recommendations .recommendations__wrapper .publications__list .publication__item .publication__text .date {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: #B3B3BA;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.recommendations .recommendations__wrapper .publications__list .publication__item .publication__text .separator-line {
  height: 4px;
  background: #E6E6F0;
}

.recommendations .recommendations__wrapper .publications__list .publication__item .publication__text .publication__descr {
  color: black;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.footer {
  background-color: #F5F5FA;
  padding: 30px 0;
}

.footer .separator-line {
  height: 2px;
  background: #E6E6F0;
  margin-bottom: 30px;
}

.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer .footer__wrapper .footer__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 21px;
}

.footer .footer__wrapper .footer__address .footer-up {
  display: flex;
  align-items: center;
}

.footer .footer__wrapper .footer__address .footer-up a {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

.footer .footer__wrapper .footer__address .footer-up .address__info__wrapper .address__info {
  color: #323264;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer .footer__wrapper .footer__address .footer-up .address__info__wrapper .address__info:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  border-radius: 50%;
  margin: 0 6px;
  margin: 0;
  margin-right: 10px;
  background-color: #B3B3BA;
}

.footer .footer__wrapper .footer__address .footer-down {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer .footer__wrapper .footer__address .footer-down .footer__fb-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer .footer__wrapper .footer__address .footer-down .footer__fb-logo:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  border-radius: 50%;
  margin: 0 6px;
  margin: 0;
  background-color: #B3B3BA;
}

.footer .footer__wrapper .footer__address .footer-down .phone {
  color: #46466E;
  line-height: 1.25rem;
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer .footer__wrapper .footer__address .footer-down .phone:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  border-radius: 50%;
  margin: 0 6px;
  margin: 0;
  background-color: #B3B3BA;
}

.footer .footer__wrapper .footer__address .footer-down .email {
  color: #24A3FF;
  line-height: 1.25rem;
}

.footer .footer__wrapper .copyrights {
  color: #B3B3BA;
  line-height: 1.25rem;
}

* {
  transition: all 0.2s ease-in-out;
}

html {
  font: 400 16px Montserrat, sans-serif;
  color: #fff;
  scroll-behavior: smooth;
}

h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.285rem;
}

h3 > a {
  font-weight: 700;
  color: #24A3FF;
}

h4 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
}

a {
  color: #fff;
  font-weight: 700;
}

.arrow-right {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #24A3FF;
  -webkit-mask: url(../media/img/arrow-right.svg) no-repeat center;
  mask: url(../media/img/arrow-right.svg) no-repeat center;
}

.hover:hover {
  color: #F0145A !important;
}

.hover:hover .arrow-right {
  background-color: #F0145A !important;
}

.hover-gb:hover {
  background-color: #F0145A;
}

.container {
  padding: 0 160px;
  max-width: 1920px;
  margin: auto;
}

.button {
  color: #24A3FF;
}

main {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) no-repeat;
  border-radius: 0 0 12px 12px;
}

main .splash {
  height: 1000px;
  margin-bottom: 60px;
}

main .splash .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  position: relative;
  z-index: 2;
}

main .splash .header .header__info__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

main .splash .header .header__info__wrapper .languages__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

main .splash .header .header__info__wrapper .languages__list:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  border-radius: 50%;
  margin: 0 6px;
}

main .splash .header .header__info__wrapper .languages__list .language__item {
  padding: 5px 7px;
}

main .splash .header .header__info__wrapper .languages__list .language__item:hover {
  background: #F0145A;
  border-radius: 8px;
}

main .splash .header .header__info__wrapper .header__address > *, main .splash .header .header__info__wrapper .header__address {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .splash .header .header__info__wrapper .header__address > *:not(:last-child):after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  border-radius: 50%;
  margin: 0 6px;
}

main .splash .header .header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: end;
  gap: 15px;
}

main .splash .header .header__nav .header__nav__item:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: transparent;
}

main .splash .header .header__nav .header__nav__item:hover > a {
  color: #F0145A;
}

main .splash .header .header__nav .header__nav__item:hover:after {
  background: #F0145A;
}

main .splash .symbol__wrapper {
  position: relative;
  z-index: 1;
  top: -113px;
  display: flex;
  justify-content: center;
}

main .splash .symbol__wrapper .main__image-bg {
  height: 1000px;
}

main .splash .symbol__wrapper h1 {
  position: absolute;
  font-size: 2.375rem;
  line-height: 2.875rem;
  text-align: center;
  top: calc(50% - 23px);
  left: calc(50% - 400px);
  width: 800px;
  font-weight: 700;
}

main .splash .symbol__wrapper .button-wrapper {
  position: absolute;
  width: 42px;
  height: 42px;
  left: calc(50% - 21px);
  bottom: 30px;
}

main .splash .symbol__wrapper .button-wrapper .arrow-down {
  position: relative;
  top: 2px;
  width: auto;
  height: 100%;
  background-color: #fff;
  -webkit-mask: url(../media/img/button-vector.svg) no-repeat center;
  mask: url(../media/img/button-vector.svg) no-repeat center;
}

main .splash .symbol__wrapper .button-wrapper .arrow-down:hover {
  background-color: #F0145A;
}

main .splash .symbol__wrapper .button-wrapper .button-scroll {
  opacity: 0.5;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: block;
  height: 100%;
}

main .splash .symbol__wrapper .button-wrapper .button-scroll:hover {
  border-color: #F0145A;
}

main .splash .symbol__wrapper .button-wrapper img {
  position: absolute;
  top: 18px;
  left: 11px;
  cursor: pointer;
}

main .exp__section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 280px;
  gap: 60px;
  margin-bottom: 60px;
}

main .exp__section .exp__tabs {
  max-width: 375px;
  font-weight: 700;
  font-size: 2.375rem;
  white-space: nowrap;
  color: #B3B3BA;
}

main .exp__section .exp__tabs .exp__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 2.875rem;
  gap: 30px;
}

main .exp__section .exp__tabs .exp__list .tablink {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  font-weight: 700;
  padding: 0;
}

main .exp__section .exp__tabs .exp__list .tablink:hover {
  color: #F0145A;
}

main .exp__section .divider-line {
  width: 4px;
  height: 303px;
  background: rgba(255, 255, 255, 0.3);
}

main .exp__section .exp__descr__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

main .exp__section .exp__descr__wrapper p {
  font-size: 1.1875rem;
  line-height: 1.875rem;
}

main .exp__section .active {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

main .exp__section #customer, main .exp__section #innovative, main .exp__section #business {
  display: none;
}

.test1 {
  background: #CACADB;
  border-radius: 0 0 12px 12px;
  width: calc(100% - 40px);
  height: 10px;
  margin: 0 auto;
}

.test2 {
  background: #E7E7F2;
  border-radius: 0 0 12px 12px;
  width: calc(100% - 80px);
  height: 10px;
  margin: 0 auto;
}