$text-color: #fff;
$separator-color: #E6E6F0;
$accent-color: #F0145A;
$gray: #B3B3BA;
$bg-gray: #F5F5FA;
$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-22: 1.375rem;
$fs-38: 2.375rem;
$lh-15: 0.9375rem;
$lh-17: 1.0625rem;
$lh-20: 1.25rem;
$lh-22: 1.375rem;
$lh-27: 1.6875rem;
$lh-46: 2.875rem;
$link-color: #24A3FF;
$bgColors: (
        1: #1C4280,
        2: #143646,
        3: #F48B30,
        4: #9E4DC3,
        5: #FD9339,
        6: #E2E2E4,
        7: #C71C36,
        8: #DCF3F9,
        9: #EAEAEA,
        10: #282240,
        11: #1D4568,
        12: #000
);