@media (max-width: 1440px) {
  main .splash {
    height: 800px;

    .container {
      padding: 50px 60px 0;
      max-width: 1440px;
    }

    .symbol__wrapper {
      .main__image-bg {
        height: auto;
      }
    }
  }

  main .exp__section {
    padding: 0 180px;
  }

  .grid__section {
    padding: 0 60px;
  }

  .white__section-grid {
    padding-bottom: 0;

    .swiper {
      height: 392px;

      .swiper-wrapper {
        padding: 0 60px;
        max-width: 1320px;

        .swiper-slide {
          margin-right: 60px !important;
          max-width: 1320px !important;
          height: 344px;

          .img__wrapper {
            flex: none;
          }
        }
      }
    }
  }
  .clients__wrapper {
    .clients__list {
      border-radius: 0;
    }
  }
  .recommendations__wrapper.container {
    padding: 30px 60px 0;

    .publications__list {
      .publication__item {
        max-width: 420px;
        height: 450px;

        .publication__image {
          width: 100%;
          object-fit: fill;
        }
      }
    }
  }
  .footer {
    .container {
      padding: 0 60px;
    }
  }
}

@media (max-width: 1024px) {
  main .splash {
    height: 768px;

    .symbol__wrapper {
      .main__image-bg {
        height: 768px;
      }
    }
  }

  main .exp__section {
    padding: 0 60px;
  }

  .white__section-grid .swiper {
    height: 574px;

    .swiper-wrapper {
      max-width: 904px;

      .swiper-slide {
        height: 528px;
        width: 904px !important;
        margin-right: 150px !important;

        .img__wrapper {
          background-size: cover;
        }
      }
    }
  }

  .recommendations__wrapper.container .publications__list .publication__item {
    flex: 1;
    height: 556px;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  main .splash {
    margin-bottom: 318px;
  }
  .header__logo {
    position: absolute;
    top: 105px;
  }
  .header__wrapper {
    display: flex;
    flex-direction: column;
    gap: 105px;
    align-items: baseline;
  }

  main .splash .symbol__wrapper {
    top: -212px;

    .main__image-bg {
      height: 1024px;
    }
  }

  main .exp__section {
    flex-direction: column;

    .exp__tabs {
      max-width: 100%;

      .exp__list {
        flex-direction: row;
        overflow-x: auto !important;
        width: 768px;
        //margin-left: 60px;
        //justify-content: flex-start;
      }
    }

    .divider-line {
      height: 4px;
      width: 100%;
    }
  }
  .service__list .service__item {
    max-width: none;
    width: 294px;
  }
  .white__section-grid .swiper {
    height: 982px;

    .swiper-pagination {
      max-width: 768px;
    }

    .swiper-wrapper {
      height: 936px;

      .swiper-slide {
        width: 648px !important;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        margin-right: 400px !important;

        .img__wrapper {
          width: 648px;
          height: 500px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      .slider__text__wrapper {
        width: 648px;
      }
    }
  }
  .clients__wrapper .clients__list .bg {
    flex-basis: 33.3%;
  }

  .recommendations__wrapper.container .publications__list {
    flex-wrap: wrap;


    .publication__item {
      height: 514px;

      &:last-child {
        flex-basis: 100%;
        max-width: none;
        height: 388px;
      }
    }
  }
  .copyrights_wrapper {
    position: absolute;
    width: calc(100% - 120px);
    text-align: end;
  }
}
